<h3>URL list:</h3>

<table border="1">
    <tr bgcolor="#808080">
        <td>Url</td>
        <td>Url short</td>
        <td>Time of creating</td>
        <td>Clicks</td>
    </tr>
    {% for i in data %}
        <tr>
        <td><a href="{{ i.url }}">{{ i.url }}</a></td>
        <td><a href="{{ i.short_url }}" target="_blank">{{ i.short_url }}</a></td>
        <td>{{ i.cr_time }}</td>
        <td>{{ i.clicks }}</td>
        </tr>
    {% endfor %}
</table>
<br>
<br>
<a href="{% url 'shortener' %}">Create new short URL</a>